@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-shimmer {
    position: relative;
    display: inline-block;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(
        90deg,
        transparent,
        rgba(0, 0, 0, 0.1),
        transparent
      );
      animation: shimmer 1.5s infinite;
    }
  }
}
